<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739597429843-28hg99u6gq4adfrd9i6qf8nag249o85p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739597429843-28hg99u6gq4adfrd9i6qf8nag249o85p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>739597429843-47os5n2e35a5i7ormckolceebp5giahl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_0-lz3VLhcsQYzYQfJin_S-H71OyRJu0</string>
	<key>GCM_SENDER_ID</key>
	<string>739597429843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simplewaytechnology.chashview</string>
	<key>PROJECT_ID</key>
	<string>richupapp</string>
	<key>STORAGE_BUCKET</key>
	<string>richupapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739597429843:ios:3a35fab7f86b1c0e512aa6</string>
	<key>DATABASE_URL</key>
	<string>https://richupapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>